.red{
    background-color: red;
}
.green{
    background-color: green;
}
.remove{
    background-color: #ea2027;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    float: right;
}